{% extends "rec/base.html" %}
{% load staticfiles %}

{% block mess %}{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center text-info">  {# Название рецепта#}
                    Выберите ингредиент и количество:
                </h3>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                        <form id="add_ingredient_form" method="post" action=""
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            {#                    {{ profile_form.as_p }}#}
                            <input type="submit" name="submit" value="Добавить"/>
                        </form>
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
