{% extends 'rec/base.html' %}
{% block content %}
    <form action="" method="post">
     {% csrf_token %}
     {{ form.as_ul }}
    <button type="submit">Отправить</button>
    </form>
{% endblock content %}