{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="{% static '/favicon.ico' %}">

    <title>Кулинарные рецепты</title>

    <meta name="description" content="Source code created by R.R.">
    <meta name="author" content="R.R.">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'rec/rec.css' %}" rel="stylesheet">
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="carousel slide" id="carousel-434693">
                <ol class="carousel-indicators">
                    <li data-slide-to="0" data-target="#carousel-434693" class="active">
                    </li>
                    <li data-slide-to="1" data-target="#carousel-434693">
                    </li>
                    <li data-slide-to="2" data-target="#carousel-434693">
                    </li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item">
                        <img class="d-block w-100" alt="Carousel Bootstrap First"
                             src="{% static '/img/carousel/carousel1.jpg' %}">
                        <div class="carousel-caption">
                            <p>
                                Все мы привыкли готовить различные блюда на своих кухнях, ну, по крайней мере,
                                с удовольствием кушать вкусные яства, приготовленные мамой, бабушкой или же другими
                                членами семьи, занимающимися готовкой.
                            </p>
                        </div>
                    </div>
                    <div class="carousel-item active">
                        <img class="d-block w-100" alt="Carousel Bootstrap Second"
                             src="{% static '/img/carousel/carousel1.jpg' %}">
                        <div class="carousel-caption">
                            <p>
                                Некоторые любят ходить в рестораны и вкушать изыски специально разработанного
                                национального или другого меню (лишь бы денег на это хватало, тогда можно себе
                                позволить).
                            </p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" alt="Carousel Bootstrap Third"
                             src="{% static '/img/carousel/carousel1.jpg' %}">
                        <div class="carousel-caption">
                            <p>
                                Кулинария - это целое искусство, как делать еду вкусной и красивой. В мире существует
                                великое множество разнообразных рецептов, способов и методов приготовления блюд.
                                Ведь готовка – это такое разнообразное и увлекательное занятие.
                            </p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carousel-434693" data-slide="prev"><span
                        class="carousel-control-prev-icon"></span> <span class="sr-only">Previous</span></a> <a
                    class="carousel-control-next" href="#carousel-434693" data-slide="next"><span
                    class="carousel-control-next-icon"></span> <span class="sr-only">Next</span></a>
            </div>


            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="\">Рецепты</a>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    {% if user.is_authenticated %}
                    <ul class="navbar-nav ml-md-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'recept-create' %}">Добавить рецепт</a>
                        </li>
                    </ul>
                    {% else %}
                    <ul class="navbar-nav ml-md-auto">
                        <li class="nav-item">
                            <a class="nav-link disabled" href="">Добавить рецепт</a>
                        </li>
                    </ul>
                    {% endif %}

                    <ul class="navbar-nav ml-md-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="http://example.com"
                               id="navbarDropdownMenuLink" data-toggle="dropdown">Поиск...</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'recept-list' %}">Список всех рецептов</a>
                                <a class="dropdown-item" href="#">Поиск по рецептам</a>
                                <a class="dropdown-item" href="#">Поиск по ингридиентам</a>
                                <a class="dropdown-item" href="#">Поиск по названию</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-md-auto">
                        <form class="form-inline" method="post" action="{% url 'search' %}">
                            <input class="form-control mr-sm-2" type="text" name="keyword" placeholder="Что искать?">
                            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
                                Найти
                            </button>
                            {% csrf_token %}
                        </form>
                    </ul>
                    <ul class="navbar-nav ml-md-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="http://example.com"
                               id="navbarDropdownMenuLink" data-toggle="dropdown">Личный кабинет</a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'login' %}">Вход</a>
                                <a class="dropdown-item" href="{% url 'register' %}">Регистрация</a>
                                <a class="dropdown-item" href="{% url 'logout' %}">Выйти</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% block mess %}

            {% if messages %}
            {% for message in messages %}
            {% if message.tags %}{% endif %}
            {{ message }}
            {% endfor %}
            {% endif %}

            {% if request.user.is_authenticated %}
            Welcome: {{ user.username }} | <a href="{% url 'logout' %}">Logout</a>
            {% endif %}

            {% endblock %}

            {% if user.is_authenticated %}
            <p>{{ user.username }} Вы авторизованы и можете добавлять рецепты.</p>
            {% else %}
            <p>Чтобы добавлять свои рецепты пожалуйста войдите или зарегистрируйтесь!</p>
            {% endif %}

            {% block content %}{% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div>
                <footer class="container">
                    <p class="float-right"><a href="#">^Наверх^</a></p>
                    <p>&copy; 2018 сделано R.R. &middot; <a href="#">Вход</a> &middot; <a href="#">Регистрация</a>
                    </p>
                </footer>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
{#    <script src="../../assets/js/vendor/holder.min.js"></script>#}
</body>
</html>