{% extends "rec/base.html" %}

{% block mess %}{% endblock %}

{% block content %}
    {#    {% if user.is_authenticated %}#}
    {#        <p>Привет, {{ user.username }}. Рады снова вас приветствовать!</p>#}
    {#    {% else %}#}
    {#        <p>Чтобы добавлять свои рецепты пожалуйста войдите или зарегистрируйтесь!</p>#}
    {#    {% endif %}#}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    Способы и методы
                </h2>
                <p>
                    Технология кулинарии - это свод определенных правил, по которым рекомендуется готовить пищу. Эти
                    способы и
                    методы могут варьироваться довольно широко у различных народов, социальных групп, в различных
                    местностях
                    Земного
                    шара. Они связаны с традициями культуры, взаимоотношений в обществе, личных предпочтений и умения
                    поваров в
                    некоторых случаях. Технологии приготовления блюд базируются на основных способах обработки, к
                    которым
                    относятся:
                    варка и жарка, тушение и запекание, сушение и копчение, маринование и соление всевозможных
                    продуктов. У
                    каждой
                    национальности и в каждой стране свои предпочтения и традиции, которые происходят из глубины веков.
                    К
                    примеру, в
                    азиатской кухне распространено вяление мяса, в странах Средиземноморья, традиционно занимающихся
                    молочным
                    животноводством – сыроделие. Особое место в технологии производства блюд занимает оформление яств,
                    ведь
                    настоящее кулинарное произведение еще и выглядеть должно красиво.
                </p>
                <p>
                    <a class="btn" href="#">подробнее »</a>
                </p>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>

{% endblock content %}