{% extends 'rec/base.html' %}

{% block content %}

    {% for recept in object_list %}
        <p>{{ recept.id }} - <a href='{{ recept.get_absolute_url }}'>{{ recept.title }}</a> -
                               <a href='{% url 'recept-update' recept.id %}' class="btn btn-outline-warning my-2 my-sm-0" >Редактировать</a> -
                               <a href='{% url 'recept-delete' recept.id %}' class="btn btn-outline-warning my-2 my-sm-0" >Удалить</a></p>
    {% endfor %}

    {#    Пагинация списка (начало)#}
    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">В начало</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}"><<</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">>></a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">В конец</a>
        {% endif %}


    {% endif %}
    {#    Пагинация списка (конец)#}

{% endblock content %}