{% extends "rec/base.html" %}
{% load staticfiles %}

{% block mess %}{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            {# <h2><span class="text-center badge badge-dark">{{ recept.title }}</span></h2>#}
            {# <h3 class="text-center text-black-50"> {# Название рецепта#}
            {# {{ recept.title }}#}
            {# </h3>#}
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-3"> {# Время приготовления#}
                    <h4 class="text-info text-center">
                        Время приготовления: {{ recept.timeForPreparing }} минуты
                    </h4>
                </div>
                <div class="col-md-3"> {# Статус скила#}
                    <h4 class="text-info text-center">
                        Уровень кулинара: {{ recept.skillStatus }}
                    </h4>
                </div>
                <div class="col-md-3">
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center text-black-50">
                        {{ recept.title }}
                    </h3>
                </div>
            </div>
            <div class="text-center">
                {% if recept.image %}
                <img alt="Image Preview"
                     src="{{ recept.image.url }}"
                     width="600"
                     height="400"
                     class="rounded  center-block">
                {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center text-black-50">
                        Список ингридиентов
                    </h3>
                </div>
            </div>
            <table class="table table-striped table-hover table-sm">
                <tbody>

                {% for record in ingridients %}
                <tr class="table-warning">
                    <td>{{ record.ingredient }}</td>
                    <td>{{ record.kol }}</td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center text-black-50">
                Шаги приготовления блюда:
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-hover table-sm">
                <tbody>
                {% for record in cookingsteps %}
                <tr class="table-warning">
                    <td>{{ record.title }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}
