{% extends "rec/base.html" %}
{% load staticfiles %}

{% block mess %}{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center text-info">  {# Название рецепта#}
                    Это название рецепта
                </h3>
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">    {# Время приготовления#}
                        <h3 class="text-info text-center">
                            Это время приготовления
                        </h3>
                    </div>
                    <div class="col-md-3">    {# Статус скила#}
                        <h3 class="text-info text-center">
                            Это статус скила
                        </h3>
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-center text-black-50">
                            Это название рецепта
                        </h3>
                    </div>
                </div>
                <div class="text-center">
                    <img alt="Image Preview" src="{% static '/img/bluda/bludo.jpg' %}"
                         class="rounded  center-block">
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-center text-black-50">
                            Список ингридиентов
                        </h3>
                    </div>
                </div>
                <table class="table table-striped table-hover table-sm">
                    <tbody>
                    <tr class="table-warning">
                        <td>
                            1. Курица
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center text-black-50">
                    Шаги приготовления блюда:
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-hover table-sm">
                    <tbody>
                    <tr class="table-warning">
                        <td>
                            1. Пожарить курицу
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock content %}
