{% extends 'rec/base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-4 item"></div>
        <div class="col-5 item">
            <h2><span class="badge badge-dark">Редактирование рецепта</span></h2>
            <br>
            <form action='.' method='POST' enctype="multipart/form-data">

                {% csrf_token %}
                {{ form.as_p }}

                <br>

                <button class="btn btn-outline-primary btn-sm" type='submit' name="btnClick" value='Ingri'>Добавить
                    ингридиенты
                </button>

                {# <br>#}
                {# <br>#}
                {#
                <button class="btn btn-outline-primary" type='submit' name="btnClick" value='Save'>Записать</button>
                #}
                {# <input class="btn btn-outline-primary" type='submit' name="btnClick" value='Записать'/>#}
            </form>

            <table class="table table-hover">
                <tbody>

                {% for record in ingridients %}
                <tr>
                    <td>{{ record.ingredient }}</td>
                    <td>{{ record.kol }}</td>
                    <td><a href='{% url "ingri-update" record.id %}' class="btn btn-outline-warning btn-sm my-2 my-sm-0">Редактировать</a></td>
                    <td><a href='{% url "ingri-delete" record.id %}'
                        class="btn btn-outline-warning btn-sm my-2 my-sm-0">Удалить</a></td>

                </tr>
                {% endfor %}

                </tbody>
            </table>

            <form action='.' method='POST'>
                {% csrf_token %}
                <button class="btn btn-outline-primary btn-sm"
                        type='submit'
                        name="btnClick"
                        value='Step'>Добавить шаг приготовления
                </button>
            </form>

            <table class="table table-hover">
                <tbody>

                {% for step in steps %}
                <tr>
                    <td>{{ step.title }}</td>
                    <td><a href='{% url "step-update" step.id %}'
                        class="btn btn-outline-warning btn-sm my-2 my-sm-0">Редактировать</a></td>
                    <td><a href='{% url "step-delete" step.id %}'
                        class="btn btn-outline-warning btn-sm my-2 my-sm-0">Удалить</a></td>
                </tr>
                {% endfor %}

                </tbody>
            </table>

        </div>
    </div>
    <br>
    <br>
</div>

{% endblock %}