{% extends "rec/base.html" %}
{% load staticfiles %}

{% block mess %}{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                {#                <h3 class="text-center text-info">  {# Название рецепта#}
                {#                    Выберите ингредиент и количество:#}
                {#                </h3>#}
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                        <h2><span class="badge badge-pill badge-info">Добавление рецепта:</span></h2>
                        <br>
                        <br>
                        <form id="add_recept_form"
                              method="post"
                              action=""
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ recreate_form.as_p }}
                            {#                    {{ profile_form.as_p }}#}
                            <div class="submit-button">
{#                                <input type="submit"#}
{#                                       value="Записать"/>#}
                                <button id="add" type="submit"> Add to Cart</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
