{% extends 'rec/base.html' %}

{% block content %}

    {% if search_result_recept %}
        {% for recept in search_result_recept %}
            <p>{{ recept.id }} - <a href='{{ recept.get_absolute_url }}'>{{ recept.title }}</a> -
                <a href='{% url 'recept-update' recept.id %}'
                   class="btn btn-outline-warning my-2 my-sm-0">Редактировать</a> -
                <a href='{% url 'recept-delete' recept.id %}' class="btn btn-outline-warning my-2 my-sm-0">Удалить</a>
            </p>
        {% endfor %}
    {% endif %}

{% endblock content %}