{% extends "base/base.html" %}
{% block title %}Login{% endblock %}
{% block body %}
  <form action="{% url 'login' %}" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Login">
  </form>
  <br />
{#  <a href="{% url 'register' %}">You do not have an account? Sign up</a>#}
{% endblock %}
