<{% extends "rec/base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <br/>
                <h2><span class="badge badge-pill badge-info">Зарегистрируйтесь</span></h2>
                <br/>
                <form action="{% url 'register' %}" method="post">{% csrf_token %}
                    {{ form.as_p }}
{#                    <input type="submit" value="Login">#}
                    <input class="btn btn-outline-primary" type="submit" value="Зарегистрироваться">
                </form>
                <br/>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
{% endblock %}
